.filmContainer {
    height: 250px;
    width: 200px;
    margin: 10px;
    border: solid;
    border-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
}

.close_button_wraper {
    display: flex;
    flex-direction: row-reverse;
}

.close { 
    font-size: 18px;
    color: red;
}

.film_poster {
    height: 150px;
    width: 100px;
}